:root {
    --cor-primaria: #173F35;
    --cor-secundaria: #2F6F5E;
    --cor-destaque1: #6B8F71;
    --cor-destaque2: #D8C3A5;
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, helvetica, sans-serif;
}

header {
    background-color: #fff;
    color: var(--cor-primaria);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-body);
    color: var(--cor-primaria);
    background-color: #F7F4ED;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.redes-sociais a {
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-primaria);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--cor-destaque2);
    padding: 20px;

}

.hero article img {
    float: right;
    width: 125px;
}