/* Resetar CSS do meu projeto */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-do-titulo: darkblue;
    --largura-da-imagem: 150px;
    --borda-da-imagem: 1px solid black;
    --sombra-da-imagem: 0 0 30px gray;
    --padding: 2px;
}

nav {
    background-color: var(--cor-do-titulo);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--cor-do-titulo);
}

img {
    width: var(--largura-da-imagem);
    height: auto;
    border: var(--borda-da-imagem);
    padding: var(--padding);
    box-shadow: var(--sombra-da-imagem);
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: var(--largura-da-imagem);
    height: auto;
    border: var(--borda-da-imagem);
    padding: var(--padding);
    box-shadow: var(--sombra-da-imagem);
    float: right;

}

aside h2 {
    position: absolute;
    left: 30px;
    right: 20px
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Seletores de Classe */
.caixa {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    ;
    color: #333;
}

.indentacao {
    padding-left: 2rem;
}